<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %} - Flask App
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <div id="nav">
        <a href="{{ url_for("home") }}">Homepage</a>
        &nbsp; | &nbsp;
        <a href="{{ url_for("about_us") }}">About us</a>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        Copyright &copy; 2020 Flask App
    </div>
</body>
</html>