<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form methods</title>
</head>
<body>

    {% if data %}
        {{ data }}
    {% endif %}

    <form method="get" action="{% url 'methods' %}">
        {% csrf_token %}
        <button type="submit">Submit GET</button>
    </form>

    <form method="post" action="{% url 'methods' %}">
        {% csrf_token %}
        <button type="submit">Submit POST</button>
    </form>

    <form method="post" action="{% url 'methods' %}">
        {% csrf_token %}
        <input type="hidden" name="_method" value="put">
        <button type="submit">Submit PUT</button>
    </form>

    <form method="post" action="{% url 'methods' %}">
        {% csrf_token %}
        <input type="hidden" name="_method" value="delete">
        <button type="submit">Submit DELETE</button>
    </form>
    
    <br /><br /><br />
    
    <img src="{% static 'me.jpg' %}" alt="">

</body>
</html>